@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1F20;
  color: rgb(238, 238, 255);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board{
  text-align:center;
  margin:auto;
  width: 370px;
  height: 370px;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 300% 300%;
  animation: animatedgradient 3s ease alternate infinite;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

@keyframes animatedgradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.square{
  height:120px;
  width:120px;
  font-size: 50px;
  background: #1D1F20;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}


.App{
  width:80%;
  margin:auto;
}

.header{
  text-align:center;
  font-size:40px;
  text-shadow: 2px 2px 4px #bbb;
  margin: 50px 0;
}

.hide{
  display:none;
}

.winner{
  color: #3ECD8E;
}

.btn{
  text-align:center;
  height: 3rem;
  width: 10rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  display: block;
  margin: 25px auto;
}

.btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: #000
}

.btn:active:after {
  background: transparent;
}

.btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@media (max-width: 460px) {

  .board {
    width: 100vw;
    height: 100vw;
  }

  .square{
    width: calc((100vw - 10px) / 3);
    height: calc((100vw - 10px) / 3);
    font-size: 10vw;
  }

  .App{
    width: 100%;
  }
}

@media (min-width: 1920px) {

  .board {
    width: 610px;
    height: 610px;
  }

  .square{
    width: 200px;
    height: 200px;
    font-size: 7vw;
  }

  .btn{
    margin-top:50px;
    height: 5rem;
    width: 20rem;
    font-size: 2.5rem;
  }

  .header{
    text-align:center;
    font-size:60px;
    text-shadow: 2px 2px 4px #bbb;
    margin: 50px 0;
  }

  h2{
    font-size:32px;
    margin-bottom:50px;
  }
}